<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ccb79c327a.js" crossorigin="anonymous"></script>


</head>

<body>

    <header>

        <nav>    
            <a href="path.resolve(__dirname, './views/home.html')"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
        </nav> 

        <div class="search-bar">
            <form action="/action_page.html">
                <label for="search">Busqueda:</label>
                <input type="text" id="search" name="search">
                <button class="search-button" onclick="alert('Buscando...')"> <i class="fa fa-search"></i> </button>
            </form>
        </div>

        <div>
            <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito 
        </div>

        <nav class="navbar">
            <ul>
                <li><a href="LINK">Ofertas</a></li>
                <li><a href="LINK">Tiendas Oficiales</a></li>
                <li><a href="LINK">Vender</a></li>
                <li><a href="LINK">Ayuda</a></li>
            </ul>
        </nav>

        <nav class="login-bar">
            <ul>
                <li><a href="LINK">Creá tu cuenta </a> <i class="fa fa-id-card-o"></i> </li>	
                <li><a href="LINK">Ingresá </a> <i class="fa fa-sign-in"></i> </li>
                <li><a href="LINK">Mis compras  </a> <i class="fa fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <nav class="menu">
            <button onclick="alert('Abrir menu...')"> <i class="fa fa-navicon"></i> </button>
        </nav>
        <br> 
        
        <nav class="banner">    
            <a href="path.resolve(__dirname, './views/home.html')"><img src="/images/img-home-banner.jpg" alt="Logo"></a>
        </nav> 

    </header>
    
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="400" style="vertical-align:middle">
                        <div>
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                            <h5 class="descripciones">Cafetera Moulinex</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="400" style="vertical-align:middle">
                        <div>   
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                            <h5 class="descripciones">MacBook Pro 2019</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" width="400" style="vertical-align:middle">
                        <div>
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                            <h5 class="descripciones">Samsung Galaxy S10</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="400" style="vertical-align:middle">
                        <div>
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                            <h5 class="descripciones">SmartTv Samsung 43"</h5>
                        </div>
                </article>
        </section>    

        <section>
            <h3>Ofertas</h3>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="400" style="vertical-align:middle">
                        <div>
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                            <h5 class="descripciones">Cafetera Moulinex</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="400" style="vertical-align:middle">
                        <div> 
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>   
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                            <h5 class="descripciones">MacBook Pro 2019</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="celular" width="400" style="vertical-align:middle">
                        <div>  
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>  
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                            <h5 class="descripciones">Samsung Galaxy S10</h5>
                        </div>
                </article>

                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv" width="400" style="vertical-align:middle">
                        <div>  
                            <div class="circleBase circle1"><i class="fa-solid fa-truck"></i></div>  
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                            <h5 class="descripciones">SmartTv Samsung 43"</h5>
                        </div>
                </article>
        </section>  

    </main>

    <footer>
        
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
                <div><i class="fa-solid fa-credit-card"></i></div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h3>Envío gratis desde $ 2.500</h3>
                <div><i class="fa-solid fa-gift"></i></div>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h3>Seguridad, de principio a fin</h3>
                <div><i class="fa-solid fa-user-shield"></i></div>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
        </section>

        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>

    </footer>

</body>
</html>