/* BODY */

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header{
    background-color: #EAC926;
    background-size: cover;
}

.navbar ul li {
    list-style-type: none;
}

.login-bar ul li {
    list-style-type: none;
}

.menu button {
    background-color: #1259c3;;;
}

/* MAIN */

main{
    background-color: #ebebeb;

}

article{
    background-color: white;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


.search-bar{
    text-align: center;
}


.menu{
    text-align: center;
}


/* FOOTER */
