body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #EAC926;
    background-size: cover;
}

main{
    background-color: #ebebeb;

}

article{
    background-color: white;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}


.search-bar{
    text-align: center;
}


.menu{
    text-align: center;
}


